<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      color="dark"
      *ngFor="let item of items"
      [routerLink]="['/','tabs', 'tab1', 'detail', item.id.value]"
    >
      <p>{{item.name.first}} {{item.name.last}}</p>
      <ion-thumbnail slot="start">
        <img [src]="item.picture.thumbnail" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-button (click)="showAlert()">Show Alert</ion-button>
  <ion-button (click)="showModal()">Show Modal</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer one</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Footer two</ion-title>
  </ion-toolbar>
</ion-footer>
